{% extends 'base.html' %}
{% block title %}Edit A Blog Post!{% endblock %}
{% block content %}

{% if user.is_authenticated %}  

{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
  $(document).ready(function() {
    $('#id_categories').select2({
      placeholder: 'Select categories',
      allowClear: true,
      width: '100%',
    });
  });
</script>

<h1>Update Post...</h1>
<br/>
<div class="form-group">
<form method="POST">
  {% csrf_token %}
  {{ form.media }}
  {{ form.as_p }}
  <button class="btn btn-secondary">Update</button>
</div>
{% else %}
You are not allowed here!
{% endif %}
{% endblock %}

