{% extends 'base.html' %}
{% block title %}Edit A Blog Post!{% endblock %}
{% block content %}

{% if user.is_authenticated %}  


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% load static %}
<link href="{% static 'froala_editor/css/froala_editor.pkgd.min.css' %}" rel="stylesheet">
<script src="{% static 'froala_editor/js/froala_editor.pkgd.min.js' %}"></script>
<script>

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

   // Define the custom button

   FroalaEditor.RegisterCommand('addStartMachine', {
     title: 'Add Start Machine Button',
     focus: true,
     undo: true,
     callback: function () {
       this.html.insert('<button id="machine-template-id" onclick="handleMachineButtonClick(this.id)">Start Machine</button>');  // Action on button click
     },
   });

   FroalaEditor.RegisterCommand('addQuestion', {
    title: 'Add Question Field',
    focus: true,
    undo: true,
    callback: function () {
      this.html.insert('<button id="machine-template-id" onclick="handleMachineButtonClick(this.id)">Start Machine</button>');  // Action on button click
    },
  });

   // Initialize Froala Editor
  
</script>
{{ form.media.css }}
<h1>Update Post...</h1>
<br/>
<div  id="id_content" class="form-group">
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-secondary">Update</button>
</div> 

{{ form.media.js }}



{% else %}
You are not allowed here!
{% endif %}
{% endblock %}
